<mat-card *ngIf="flight" style="position: absolute; top: 74px; right: 10px; width: 250px;">
    <mat-card-header>
        <div style="display: flex; justify-content: space-between; align-items: left; width: 100%;">
            <div>
              <mat-card-title>{{ flight.registration }} ({{ flight.displayName }})</mat-card-title>
              <mat-card-subtitle>Flarm ID: {{ flight.flarmId }}</mat-card-subtitle>
            </div>
            <button mat-icon-button (click)="closeDialog()" style="margin-right: -10px; margin-top: -10px;">
              <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div>
            <span class="label">Modell: </span>
            <span>{{ flight.model }}</span>
        </div>
        <div>
            <span class="label">Letztes Update: </span>
            <span>{{ flight.timestamp | timeAgo }}</span>
        </div>
        <div>
            <span class="label">Höhe (MSL): </span>
            <span>{{ roundNumber(flight.heightMSL) }} m</span>
        </div>
        <div>
            <span class="label">Höhe ü. Grund: </span>
            <span [ngClass]="flight.heightAGL < 50 ? 'red' : (flight.heightAGL < 200 ? 'yellow' : '')">
                {{ roundNumber(flight.heightAGL) }} m
            </span>
        </div>
        <div>
            <span class="label">Geschwindigkeit: </span>
            <span>{{ roundNumber(flight.speed) }} km/h</span>
        </div>
        <div>
            <span class="label">Vario: </span>
            <span [ngClass]="flight.vario > 0 ? 'green' : (flight.vario < 0 ? 'red' : '')">
                {{ flight.vario > 0 ? '+' : ''}}{{ roundVario(flight.vario) }} m/s
            </span>
        </div>
        <div>
            <span class="label">Vario (60s): </span>
            <span [ngClass]="flight.varioAverage > 0 ? 'green' : (flight.varioAverage < 0 ? 'red' : '')">
                {{ flight.varioAverage > 0 ? '+' : ''}}{{ roundVario(flight.varioAverage) }} m/s
            </span>
        </div>
        <button mat-icon-button (click)="toggleTracking()" style="margin-left: -5px; margin-bottom: -10px;">
          <mat-icon>{{isTracking ? 'location_disabled' : 'location_searching'}}</mat-icon>
        </button>
    </mat-card-content>
</mat-card>