.content {
  margin-top: -20px;
  padding-right: 16px;
  max-height: 40vh;
  overflow-y: auto;
}

.section {

}

.section-title {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 500;
}

.changelist {
  margin-top: 6px;
}

.sub-changelist {
  margin-top: 6px;
  margin-left: -16px;
}

.action-button-container {
  margin-top: 5px;
}
