<h1 mat-dialog-title>Neue Version: v{{versionNumber}}</h1>
<div class="content">
  <!-- <div class="section">
    <span class="section-title">0.2.0</span>
    <ul class="changelist">
    </ul>
  </div> -->
  <div class="section">
    <span class="section-title">0.1.2</span>
    <ul class="changelist">
      <li>Neue Standardkarte: Gelände (Stamen)</li>
      <li>Changelog wird bei neuer App-Version angezeigt</li>
      <li>Einstellungen: Aktivieren / Deaktivieren vom Changelog</li>
      <li>Einstellungen werden jetzt bei neuer App-Version beibehalten</li>
    </ul>
  </div>
</div>
<mat-dialog-actions align="center" class="action-button-container">
    <button mat-raised-button color="primary" mat-dialog-close>Danke Matthias</button>
</mat-dialog-actions>
