<table mat-table [dataSource]="gliderList" class="mat-elevation-z6">
  <ng-container matColumnDef="displayName">
    <th mat-header-cell *matHeaderCellDef> Kennzeichen </th>
    <td mat-cell *matCellDef="let element"> {{element.registration}} ({{element.registrationShort}}) </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Modell </th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="flightTime">
    <th mat-header-cell *matHeaderCellDef> Flugzeit </th>
    <td mat-cell *matCellDef="let element"> {{element.takeOffTimestamp}} </td>
  </ng-container>

  <ng-container matColumnDef="distanceFromHome">
    <th mat-header-cell *matHeaderCellDef> Entfernung von LOXN </th>
    <td mat-cell *matCellDef="let element"> {{element.distanceFromHome}} </td>
  </ng-container>

  <ng-container matColumnDef="altitude">
    <th mat-header-cell *matHeaderCellDef> Flughöhe </th>
    <td mat-cell *matCellDef="let element"> {{element.altitude}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
