.display-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container {
    max-height: 60vh;
    overflow-y: auto;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}