.map {
    width: 100%;
    height: calc(100% - 64px);
}

.barogram-card {
    position: absolute; 
    bottom: 1%; 
    left: 1%; 
    height: 25vh; 
    width: 98%; 
}

.airplane-icon {
    background: none;
    border: none;
}