.logo {
  height: 40px;
  margin-right: 20px;
}

.content-mobile {
  height: calc(100% - 56px);
  overflow-y: auto;
}

.content-desktop {
  height: calc(100% - 64px);
  overflow-y: auto;
}

.toolbar-button {
  margin-right: 6px;
  height: 45px;
}

.larger-icon {
  font-size: 23px !important; /* Adjust the icon size as needed */
  height: 23px !important;
  width: 23px !important;
  margin-bottom: 2px;
}

::ng-deep .mat-mdc-snack-bar-container {
  &.snack-bar-info {
    --mdc-snackbar-container-color: #3f51b5;
    --mdc-snackbar-supporting-text-color: white;
  }
}

::ng-deep .mat-mdc-snack-bar-container {
  &.snack-bar-success {
    --mdc-snackbar-container-color: #67ac5b;
    --mdc-snackbar-supporting-text-color: white;
  }
}

::ng-deep .mat-mdc-snack-bar-container {
  &.snack-bar-warn {
    --mdc-snackbar-container-color: #f19c38;
    --mdc-snackbar-supporting-text-color: white;
  }
}

::ng-deep .mat-mdc-snack-bar-container {
  &.snack-bar-error {
    --mdc-snackbar-container-color: rgb(212, 53, 53);
    --mdc-snackbar-supporting-text-color: white;
  }
}

.example-spacer {
  flex: 1 1 auto;
}
