.toolbar {
  height: 64px;
}

.content-mobile {
  height: calc(100% - 56px);
  overflow: scroll;
}

.content-desktop {
  height: calc(100% - 64px);
  overflow: scroll;
}

::ng-deep .mat-mdc-snack-bar-container {
  &.snack-bar-info {
    --mdc-snackbar-container-color: #3f51b5;
    --mdc-snackbar-supporting-text-color: white;
  }
}

::ng-deep .mat-mdc-snack-bar-container {
  &.snack-bar-success {
    --mdc-snackbar-container-color: #67ac5b;
    --mdc-snackbar-supporting-text-color: white;
  }
}

::ng-deep .mat-mdc-snack-bar-container {
  &.snack-bar-warn {
    --mdc-snackbar-container-color: #f19c38;
    --mdc-snackbar-supporting-text-color: white;
  }
}

::ng-deep .mat-mdc-snack-bar-container {
  &.snack-bar-error {
    --mdc-snackbar-container-color: rgb(212, 53, 53);
    --mdc-snackbar-supporting-text-color: white;
  }
}

.example-spacer {
  flex: 1 1 auto;
}
