<mat-card class="navbar">
    <a routerLink="/map" routerLinkActive="active" class="nav-item">
        <mat-icon class="icon">public</mat-icon>
        <span>Karte</span>
    </a>
    <a routerLink="/list" routerLinkActive="active" class="nav-item">
        <mat-icon class="icon">flight</mat-icon>
        <span>Flugzeuge</span>
    </a>
    <a routerLink="/history" routerLinkActive="active" class="nav-item">
        <mat-icon class="icon">manage_search</mat-icon>
        <span>Startliste</span>
    </a>
    <a routerLink="/settings" routerLinkActive="active" class="nav-item">
        <mat-icon class="icon">settings</mat-icon>
        <span>Einstellungen</span>
    </a>
</mat-card>