<mat-card class="navbar">
    <a href="/" class="nav-item">
        <mat-icon class="icon">public</mat-icon>
        <span>Karte</span>
    </a>
    <a href="/list" class="nav-item">
        <mat-icon class="icon">flight</mat-icon>
        <span>Flugzeuge</span>
    </a>
    <a href="/history" class="nav-item">
        <mat-icon class="icon">manage_search</mat-icon>
        <span>Startliste</span>
    </a>
    <a href="/settings" class="nav-item">
        <mat-icon class="icon">settings</mat-icon>
        <span>Einstellungen</span>
    </a>
</mat-card>
