.version-number {
  float: right;
}

.container {
    padding: 16px 16px 0px 16px;
}

.title {
    font-size: 18px;
    font-weight: 500;
}

.subtitle {
  font-size: 14px;
  font-weight: 500;
}

.section {
    margin-bottom: 16px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;
}

.reduce-margin-top {
  margin-top: -8px;
}

.reduce-margin-top-slightly {
  margin-top: -3px;
}

.increase-margin-top {
  margin-top: 8px;
}

.increase-margin-top-slightly {
  margin-top: 3px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}
