<div class="container">
  <div class="section">
      <div class="version-number" (click)="showChangelog()">v{{versionNumber}}</div>
      <p class="title">Karte</p>
      <span class="subtitle">Gelände</span>
      <mat-radio-group class="group" [(ngModel)]="settings.mapType" (change)="save()">
          <mat-radio-button [value]="0">Gelände (Stamen)</mat-radio-button>
          <mat-radio-button class="reduce-margin-top" [value]="1">Open Street Map</mat-radio-button>
      </mat-radio-group>

      <span class="subtitle">Filter</span>
      <mat-radio-group class="group" [(ngModel)]="settings.gliderFilterOnMap" (change)="save()">
          <mat-radio-button [value]="0">Nur Vereinsflugzeuge</mat-radio-button>
          <mat-radio-button class="reduce-margin-top-slightly" [value]="1">Vereinsflugzeuge & Private Flugzeuge von Mitgliedern</mat-radio-button>
          <mat-radio-button class="reduce-margin-top-slightly" [value]="2">Alle Flugzeuge</mat-radio-button>
      </mat-radio-group>
      <div class="group">
        <mat-checkbox [(ngModel)]="settings.showGlidersOnly" (change)="save()">Nur Segelflugzeuge anzeigen</mat-checkbox>
        <mat-checkbox [(ngModel)]="settings.hideGlidersOnGround" class="reduce-margin-top" (change)="save()">Flugzeuge am Boden ausblenden</mat-checkbox>
      </div>

      <div class="group increase-margin-top">
        <span class="subtitle">Marker Farbschema</span>
        <mat-radio-group class="group" [(ngModel)]="settings.markerColorScheme" (change)="save()">
            <mat-radio-button [value]="0">Vereinsflugzeuge hervorheben</mat-radio-button>
            <mat-radio-button hidden class="reduce-margin-top" [value]="1">Je nach Flughöhe</mat-radio-button>
            <mat-radio-button class="reduce-margin-top" [value]="2">Luftfahrzeugtypen (Glide and Seek)</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="group" style="margin-top: 4px;">
        <span class="subtitle">Flugweg</span>
        <mat-checkbox [(ngModel)]="settings.useFlightPathSmoothing" (change)="save()">Flugweg abrunden (keine harten Ecken)</mat-checkbox>
      </div>
  </div>
    <div class="section">
        <p class="title">Flugzeuge & Startliste</p>
        <mat-radio-group class="group" [(ngModel)]="settings.gliderFilterInLists" (change)="save()">
            <mat-radio-button [value]="0">Nur Vereinsflugzeuge</mat-radio-button>
            <mat-radio-button class="reduce-margin-top-slightly" [value]="1">Vereinsflugzeuge & Private Flugzeuge von Mitgliedern</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="section">
      <div class="group">
        <p class="title">Update der Daten</p>
        <mat-radio-group class="group" [(ngModel)]="settings.updateTimeout" (change)="save()">
          <mat-radio-button [value]="3000">Schnell (Alle 3 Sekunden)</mat-radio-button>
          <mat-radio-button class="reduce-margin-top" [value]="5000">Normal (Alle 5 Sekunden)</mat-radio-button>
          <mat-radio-button class="reduce-margin-top" [value]="10000">Daten sparen (Alle 10 Sekunden)</mat-radio-button>
      </mat-radio-group>
      </div>
    </div>
    <div class="section">
      <div class="group">
        <p class="title">Sonstiges</p>
        <mat-checkbox [(ngModel)]="settings.showChangelogForNewVersion" (change)="save()">Änderungen bei neuer Version anzeigen</mat-checkbox>
      </div>
    </div>
</div>
